Animal.class
Animal.ctxt
AwtControlDemo$1.class
AwtControlDemo$MyCanvas.class
Basket.class
Basket.ctxt
CGMoveASprite$1.class
CGMoveASprite$2.class
CGMoveASprite$3.class
CGMoveASprite$4.class
CGMoveASprite$DrawCanvas.class
Duck.class
Duck.ctxt
Egg.class
Egg.ctxt
FrameCanvas$1.class
FrameCanvas$2.class
FrameCanvas$DrawCanvas.class
FrameCanvas.class
FrameCanvas.ctxt
Goose.class
Goose.ctxt
Hen.class
Hen.ctxt
Object.class
Object.ctxt
README.TXT
Shit.class
Shit.ctxt
Sprite.class
Sprite.ctxt
package.bluej
DropObject.class
DropObject.ctxt
FrameCanvas$3.class
FrameCanvas$4.class
Geese.class
Geese.ctxt
Hen$1.class
Hen$2.class
